:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "tailwindcss";

@theme {
  --color-mint-50:  #46CE83; /* primary color */
  --color-mint-70:  #89DC7E;
  --color-mint-75:  #BCFF7D;
  --color-mint-80:  #D8FF99;

  --color-white-90: #E4E4E7;
  --color-white-95: #F1F1F3;   /* secondary color */
  --color-white-97: #F7F7F8;  /* body background color */
  --color-white-99: #FCFCFD;  /* input background color */

  --color-gray-10:  #1A1A1A;
  --color-gray-15:  #262626;  /* text color */
  --color-gray-20:  #333333;
  --color-gray-30:  #4D4D4D;  /* paragraph color */
  --color-gray-40:  #666666;   /* placeholder color */
  --color-gray-50:  #808080;
  --color-gray-60:  #999999;
  --color-gray-70:  #B3B3B3;
}


#root {
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
}


