name: CI/CD Pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Login to Docker Hub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t e-learning-frontend .

      - name: Push image to Docker Hub
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/e-learning-frontend:latest

  deploy:
    needs: build_and_test
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/ubuntu/e-learning
   
            sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/e-learning-frontend:latest

            if [ "$(sudo docker ps -q -f name=e-learning-frontend-dev)" ]; then
                sudo docker compose down
            fi

            if sudo docker compose -f docker-compose.yml up -d; then
                echo "Container started command executed successfully"
                sleep 30
    
                if [ "$(sudo docker ps -q -f name=e-learning-frontend-dev -f status=running)" ]; then
                    echo "Container is running"
                else
                    echo "Container stopped unexpectedly"
                    sudo docker logs e-learning-frontend-dev
                    exit 1
                fi
            else
                echo "Docker run command failed"
                exit 1
            fi